<!DOCTYPE html>
<HTML lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HBNB</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="{{ url_for('static', filename='scripts/1-hbnb.js') }}?cache_id={{ cache_id }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?cache_id={{ cache_id }}">
	</head>
	<BODY>
		<ul>
			{% for amenity in amenities %}
			<li>
				<input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
				{{ amenity.name }}
			</li>
			{% endfor %}
		</ul>

	</BODY>
</HTML>
